#overlayWindow{
    position: fixed;
    background-color:blanchedalmond;
    margin-top: 20px;
    margin-left: 25%;
    height:700px;
    width:50%;
    top: 0; left: 0;
    visibility: hidden;
    
}

#header_box {
    border-color: red;
}

#results{
    border-color:green;
}

#map_view{
    border-color:orange;
}
 
#filter_preview{
    border-color:blueviolet;
    margin-bottom: 4%;
}

#results_preview{
    border-color:chartreuse;
    height:300px;
}

#map_preview{
    height: 300px;
    border-color:yellow;
    margin-bottom: 5%;
}

#weather_preview{
    height: 200px;
    border-color: cadetblue;
}

.border-view{
    border-style:solid;
    text-align: center;
}

/* Formatting of the results */
.resformat{  
    width:100px;
    height: 100px;
}

.enlarged{
    width:350px;
    /* height: 350px; */
}

.testing{
    
    border-style:solid;
    border-color:red;
    margin:1% 0;
    text-align: center;
}