#overlayWindow{
    position: fixed;
    background-color:blanchedalmond;
    margin-top: 20px;
    margin-left: 25%;
    height:700px;
    width:50%;
    top: 0; left: 0;
    visibility: hidden;
    
}

#header_box {
    border-color: red;
    height:200px;
    
    
}

/* IN DIRE NEED OF FIXING */

#headerImage{
    position: relative;
    height: 200%;
    width:100%;
    bottom:90%;
    z-index:-1;
    
    
}

#results{
    border-color:green;
    background: linear-gradient(90deg, hsla(152, 60%, 76%, 1) 0%, hsla(127, 89%, 76%, 1) 100%);
}

#map_view{
    border-color:orange;
    background: radial-gradient(circle, hsla(47, 60%, 76%, 1) 0%, hsla(39, 100%, 67%, 1) 100%);
}
 
#filter_preview{
    border-color:blueviolet;
    margin-bottom: 4%;
}

#results_preview{
    border-color:chartreuse;
    height:300px;
    
    
}

#map_preview{
    height: 300px;
    border-color:yellow;
    margin-bottom: 5%;
}

#weather_preview{
    height: 200px;
    border-color: cadetblue;
}

#rowForm{
    margin-top: 2%;
}




.border-view{
    border-style:solid;
    text-align: center;
}

/* Formatting of the results */
.resformat{  
    width:100px;
    height: 100px;
}

.enlarged{
    width:350px;
    /* height: 350px; */
}

.testing{
    
    border-style:solid;
    border-color:red;
    margin:1% 0;
    text-align: center;
}

